 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1581px;
}

.u-section-1 .u-image-1 {
  width: 1216px;
  min-height: 1031px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  height: auto;
  margin: 106px -38px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  height: 627px;
  width: 856px;
  margin: -198px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 807px;
  width: 1140px;
  margin: -1485px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1481px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    height: 527px;
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-top: -1385px;
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 395px;
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: -1253px;
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: -1107px;
    margin-right: 350px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(59,6,94,0.6), rgba(59,6,94,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 229px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 39px 248px 0 222px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 39px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-text-1 {
    width: 670px;
    margin-left: 122px;
    margin-right: 148px;
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 12px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: 340px;
  }
}